/* Variable declaration */
/* breakpoints */
/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Satoshi", Arial, sans-serif;
}

html, body, div, p, ul, li {
  line-height: 1.5;
  color: #2d334a;
}

h1, h2, h3 {
  line-height: 1.25;
  color: #272343;
}

/* Default for mobile */
html, body {
  min-width: 320px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smoothing: antialiased; /* Standard property, though not widely supported */
}
@media all and (min-width: 600px) {
  html, body {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}
@media all and (min-width: 1800px) {
  html, body {
    font-size: 18px;
  }
}

/* Layout / containers */
/* Loading screen */
#loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background-color: #e3f6f5;
  color: #2d334a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 20000; /* Ensure it is above all other content */
  opacity: 1;
  pointer-events: none;
}

/* Landing area */
#landing_container {
  display: flex;
  flex-direction: column;
  min-height: 70lvh;
  height: 80lvh; /* Take full viewpoint */
  overflow-y: none; /* If content overflow -> vertical scrolling */
  justify-content: center;
  text-align: center;
}

#landing_item {
  flex-grow: 1;
  background-color: #272343;
  max-height: 100%;
  overflow: hidden;
}
#landing_item #landing_svg {
  width: 100%;
  height: 100%;
  pointer-events: all;
  opacity: 0;
  animation: fade_in 2s ease-in-out 0s forwards;
}
#landing_item .background_lines {
  stroke: #fffffe;
}
@keyframes fade_in {
  100% {
    opacity: 0.4;
  }
}

#landing_align {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80lvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing_align #landing_text {
  width: 80%;
  height: 60lvh;
  max-height: 300px;
}
#landing_align #landing_text #landing_svg_text {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: "Satoshi", Arial, sans-serif;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  text-align: start;
  writing-mode: lr-tb;
  direction: ltr;
  text-anchor: start;
  fill: #fffffe;
  stroke: #fffffe;
  stroke-width: 2;
}
#landing_align #landing_text #landing_svg_text .svg_text_name {
  fill: #e3f6f5;
  stroke: #e3f6f5;
}
#landing_align #landing_text #landing_svg_text #svg_text_highlight {
  fill: #ffd803;
  stroke: #ffd803;
}

/* Menu */
#sticky_container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000; /* > main page < overlay */
  background-color: #e3f6f5;
  margin-bottom: 2rem;
}
#sticky_container .menu_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0;
  justify-content: center;
}
#sticky_container .menu_list li {
  margin: 1rem;
}

button {
  width: auto;
  white-space: nowrap;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  gap: 0;
  border-radius: 999px;
  color: #272343;
  background-color: #ffd803;
  border: none;
}
button:hover {
  background-color: #FFE86B;
}
button:active {
  background-color: #F0CB00;
}

.secondary_button {
  background-color: #FFF2A8;
  border-color: #FFD803;
  border-style: solid;
  border-width: 2px;
}
.secondary_button:hover {
  background-color: #FFF9DB;
  border-color: #FFE86B;
}
.secondary_button:active {
  background-color: #FFE86B;
  border-color: #F0CB00;
}

/* Article selection area */
#article_space {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#article_space h1 {
  font-size: 2rem;
}
#article_space .article_container {
  display: flex;
  flex-direction: column; /* Allows articles to wrap to the next line */
  flex-wrap: nowrap;
  justify-content: center; /* Centers articles horizontally */
  gap: 50px; /* Space between articles */
  padding-top: 5%;
  padding: 5% 5%;
  background-color: #fffffe;
  max-width: 1200px;
}
@media all and (min-width: 600px) {
  #article_space .article_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#article_space .article_container .article_item {
  flex: 1 1 90%;
  min-width: 300px;
  max-width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  padding: 0px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
@media all and (min-width: 600px) {
  #article_space .article_container .article_item {
    flex: 1 1 400px;
    min-width: 300px;
    max-width: 40%;
  }
}
@media all and (min-width: 900px) {
  #article_space .article_container .article_item {
    max-width: 25%;
  }
}
@media all and (min-width: 1200px) {
  #article_space .article_container .article_item:hover p {
    display: block;
  }
  #article_space .article_container .article_item:hover img {
    filter: blur(1px);
  }
}
#article_space .article_container .article_item .container_image {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
}
#article_space .article_container .article_item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#article_space .article_container .article_item .container_header {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 254, 0.8);
  text-align: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
#article_space .article_container .article_item h2 {
  font-size: 1rem;
}
#article_space .article_container .article_item p {
  font-size: 1rem;
  display: block;
}
@media all and (min-width: 1200px) {
  #article_space .article_container .article_item p {
    display: none;
  }
}
/* Article popup */
#blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 35, 67, 0.2);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
#blur_overlay .popup_container {
  display: none;
  position: fixed;
  height: 90%;
  width: 90%;
  min-width: 300px;
  max-width: 1000px;
  overflow-y: hidden; /* If content overflow -> vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: #fffffe;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffffe;
  z-index: 7000; /* > overlay */
}
@media all and (min-width: 600px) {
  #blur_overlay .popup_container {
    width: 75%;
  }
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container {
    width: 70%;
  }
}
@media all and (min-width: 1200px) {
  #blur_overlay .popup_container {
    width: 60%;
  }
}
#blur_overlay .popup_container .close_menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #e3f6f5;
}
#blur_overlay .popup_container .close_menu h1 {
  font-size: 1.5rem;
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
}
#blur_overlay .popup_container .close_menu button {
  margin-right: 5%;
}
#blur_overlay .popup_container .popup_article {
  padding: 5%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
}
#blur_overlay .popup_container .popup_article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin: auto;
  display: block;
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article img {
    max-height: 50%;
  }
}
@media all and (min-width: 1200px) {
  #blur_overlay .popup_container .popup_article img {
    width: 85%;
  }
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article img {
    width: 75%;
  }
}
#blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a, #blur_overlay .popup_container .popup_article div, #blur_overlay .popup_container .popup_article img {
  margin-bottom: 1.5em;
  margin-top: 0em;
}
@media all and (min-width: 600px) {
  #blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a, #blur_overlay .popup_container .popup_article div, #blur_overlay .popup_container .popup_article img {
    margin-top: 0;
  }
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a, #blur_overlay .popup_container .popup_article div, #blur_overlay .popup_container .popup_article img {
    margin-top: 0;
  }
}
#blur_overlay .popup_container .popup_article h1 {
  font-size: 1.5rem;
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article h1 {
    font-size: 2rem;
  }
}
#blur_overlay .popup_container .popup_article h2 {
  font-size: 1.2rem;
  margin-bottom: 0%;
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article h2 {
    font-size: 1.6rem;
  }
}
#blur_overlay .popup_container .popup_article a {
  font-style: bold;
  color: #2B8282;
}
#blur_overlay .popup_container .popup_article a:hover {
  color: #ffd803;
}
#blur_overlay .popup_container .popup_article mark {
  color: #297A7A;
  font-weight: bold;
  background-color: transparent;
}
#blur_overlay .popup_container .popup_article ul {
  list-style-position: inside;
  padding-left: 5%;
}
#blur_overlay .popup_container .popup_article li {
  list-style-position: outside;
}
#blur_overlay .popup_container .popup_article figcaption {
  font-size: 0.8rem;
  text-align: center;
}
#blur_overlay .popup_container .popup_article .a_button:link, #blur_overlay .popup_container .popup_article .a_button:visited, #blur_overlay .popup_container .popup_article .a_button:hover, #blur_overlay .popup_container .popup_article .a_button:active {
  text-decoration: none;
}
#blur_overlay .popup_container .popup_article .p_button {
  text-align: center;
}
#blur_overlay .popup_container .popup_article .img_header {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article .img_header {
    height: 200px;
  }
}
#blur_overlay .popup_container .popup_article .code {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#blur_overlay .popup_container .popup_article code {
  max-width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-style: solid;
  background-color: #e3f6f5;
}
#blur_overlay .popup_container .popup_article #award_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}
#blur_overlay .popup_container .popup_article #award_images div {
  max-height: 50px;
  margin-left: 2%;
  margin-right: 2%;
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article #award_images div {
    max-height: 100px;
  }
}
@media all and (min-width: 1200px) {
  #blur_overlay .popup_container .popup_article #award_images div {
    max-height: 200px;
  }
}
#blur_overlay .popup_container .popup_article #award_images img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#footer {
  background-color: #fffffe;
  color: #272343;
  font-size: small;
  text-align: center;
}

/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Satoshi", Arial, sans-serif;
}

html, body, div, p, ul, li {
  line-height: 1.5;
  color: #2d334a;
}

h1, h2, h3 {
  line-height: 1.25;
  color: #272343;
}

#masterContainer {
  display: flex;
  flex-direction: column;
  background-color: #fffffe;
  align-items: center;
}
#masterContainer div {
  width: 80%;
  min-height: 50px;
  margin: 10px;
  background-color: #fffffe;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}
#masterContainer div .lines_01 {
  stroke: #fffffe;
}
#masterContainer div .lines_02 {
  stroke: #fffffe;
}
#masterContainer div .lines_03 {
  stroke: #fffffe;
}

svg {
  --path_stroke_size: 0.265; /* .26458437 */
  --path_stroke: whitesmoke;
  background-color: #272343;
}

.svg_dog {
  animation: draw_line 2s linear 1s forwards;
  stroke: whitesmoke;
}

.svg_cir {
  animation: draw_line 2s linear 0s forwards;
}

.svg_dow {
  animation: draw_line 1s linear 0.5s forwards;
}

.svg_l11, .svg_l12, .svg_l21, .svg_l22 {
  animation: draw_line 2s linear 1.5s forwards;
}

.svg_txt1, .svg_txt2, .svg_txt3, .svg_txt4 {
  opacity: 0;
  animation: fade_txt 1s ease-in-out 0s forwards;
}

@keyframes draw_line {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fade_txt {
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=JS_ani.css.map */